<!-- views/partials/stores-form.handlebars -->

<fieldset>
  <legend>Store</legend>
  <div class="">
    <label for="owner-name">Owner</label><br>
    <input class="" id="owner-name" type="text" name="owner" value="John"/>
  </div>
</fieldset>
