<!-- views/partials/stores-form.handlebars -->

<fieldset>
  <legend>Store</legend>
  <!-- Amount -->
  <!-- <div class="form-group">
    <label for="donations-orgs">{{donation.orgsName}}</label><br>
    <input class="form-control" id="donations-orgs" type="hidden" name="orgsName" value="{{donation.orgsName}}"/>
  </div>
  <div class="form-group">
    <label for="donations-ein">{{donation.orgsEin}}</label><br>
    <input class="form-control" id="donations-ein" type="hidden" name="orgsEin" value="{{donation.orgsEin}}"/>
  </div> -->
  <div class="form-group">
    <label for="owner-name">Owner</label><br>
    <input class="form-control" id="owner-name" type="text" name="owner" value="John"/>
  </div>
  <!-- <div class="form-group">
    <label for="store-inventory">Inventories</label><br>
    <textarea class="form-control" id="store-inventory" rows="10" name="inventory"/></textarea>
  </div> -->

</fieldset>
