<h1 class="slogan">WDYU?</h1>
<section class="stores">
    <ul class="store-list">
        {{#each stores}}
        <li class="store">
            <a href="/stores/{{this._id}}"><h5 class="">{{this.owner}}'s Store</h5></a>
            <div class="">
        </li>
        {{/each}}
    </ul>
</section>
