<form class="" action="/stores/{{store._id}}?_method=PUT" method="post">
    {{>stores-form}}
    <div class="">
        <button class="" type="submit" name="button">Create</button>
    </div>
</form>
